<script>

    async function imageLoad(url) {
        const response = await fetch(url, { method: 'GET' });
        const blob = await response.blob();
        return URL.createObjectURL(blob);
    }

    const images = [
        '/assets/images/teamcp01.jpg',
        '/assets/images/teamcp02.jpg',
        '/assets/images/teamcp03.jpg',
        '/assets/images/teamcp04.jpg'
    ];

    (async () => {
        const image = images[Math.floor(Math.random()*images.length)];
        const base64 = await imageLoad(image);
        const div = document.body.querySelector('.team-images');
        if (div) {
            console.log(base64);
            div.classList.add('pmi-team-images');
            div.style.backgroundImage = `url("${ base64 }")`;
        }
    })();
</script>
