<script>

    function imageLoad(url) {
        return new Promise((resolve, reject ) => {
            const image = new Image();
            image.onload = () => {

                const canvas = document.createElement('canvas');
                canvas.width = image.width;
                canvas.height = image.height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(image, 0, 0);
                return resolve(canvas.toDataURL());
            }
            image.onerror = () => {
                return reject(new Error('Could not load image at ' + url));
            }
            image.src = url;
        });
    }

    const images = [
        '/assets/images/teamcp01.jpg',
        '/assets/images/teamcp02.jpg',
        '/assets/images/teamcp03.jpg',
        '/assets/images/teamcp04.jpg'
    ];

    (async () => {
        const image = images[Math.floor(Math.random()*images.length)];
        const base64 = await imageLoad(image);
        const div = document.body.querySelector('.team-images');
        if (div) {
            div.classList.add('pmi-team-images');
            div.style.backgroundImage = `url("${ base64 }")`;
        }
    })();




</script>
