<script>

    async function imageLoad(url) {
        const response = await fetch(url, { method: 'GET' });
        const reader = response.body.getReader();
        const contentLength = +response.headers.get('Content-Length');

        let receivedLength = 0; // received that many bytes at the moment
        const chunks = []; // array of received binary chunks (comprises the body)
        while(true) {
            const {done, value} = await reader.read();

            if (done) {
                break;
            }
            chunks.push(value);
            receivedLength += value.length;
            console.log(`Received ${receivedLength} of ${contentLength}`)
        }

        const chunksAll = new Uint8Array(receivedLength); // (4.1)
        let position = 0;
        for(const chunk of chunks) {
            chunksAll.set(chunk, position); // (4.2)
            position += chunk.length;
        }

        const blob = new Blob([chunksAll]);
        //
        // const blob = await response.blob();
        //
        return URL.createObjectURL(blob);
    }

    const images = [
        '/assets/images/teamcp202501.jpg',
        '/assets/images/teamcp202502.jpg',
    ];

    (async () => {
        const image = images[Math.floor(Math.random()*images.length)];
        const blobUrl = await imageLoad(image);
        const div = document.body.querySelector('.team-images');
        if (div) {
            div.classList.add('pmi-team-images');
            div.style.backgroundImage = `url("${ blobUrl }")`;
        }
    })();
</script>
