<div class="post-author" style="margin-top: 5rem;">
    <hr/>
    <div style="display: flex; align-items: center; justify-content: end; margin-top: 3rem;">
        <div class="post-author-desc">
            <pre>{{ include.description }}</pre>
        </div>
        <div class="post-author-avatar" style="background-image: url({{ include.image }})"></div>
    </div>
    <div style="display: flex; justify-content: end;">
        <h3> {{ include.name | escape }} / {{ include.position | escape  }} </h3>
    </div>
</div>
